<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% load static %}
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K76JR8H');</script>
<!-- End Google Tag Manager -->

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Zajišťujeme vytvoření a servis jednoduchých FREE a PRO chatbotů, které Vám otevřou cestu do messenger marketingu.">
<meta name="keywords" content="chatbot, messenger marketing, chatbot marketing, chatbot na facebooku, chatbot vzor">
<meta name="author" content="www.Chatbot-heroes.cz">
<meta name="google-site-verification" content="5C6aie7mFVAOf--1Mb5F3Lsmf9yHaav-SvE16Djz_To" />
<meta name="seznam-wmt" content="X2sLkJF4abiatAO7xEiSEkNUSmxxKP5d" />
<meta name="seznam-wmt" content="DGRh0WnHVhnCaC5Ht3jfwSLRqW2Hv2y6" />
<title>2019 | Chatbot pro eshopy - Co mi nabídne a co nesplní?</title>

<!-- Bootstrap core CSS -->
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link rel="icon" href="{% static 'roboto-logo.png' %}" sizes="16x16" type="image/png">

<!-- Custom fonts for this template -->
<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

<!-- Custom styles for this template -->
<link href="{% static 'css/agency.min.css' %}" rel="stylesheet">

<!-- ManyChat -->
<script src="//widget.manychat.com/2190917664302242.js" async="async"></script>
<link rel="canonical" href="https://www.chatbot-heroes.cz/Chatbot-pro-eshopy-co-mi-nabidne-a-co-nesplni" />
</head>


<body id="page-top">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K76JR8H"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Header -->
    <header class="masthead fixed-top">
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="/">ChatBot-Heroes</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="https://chatbot-heroes.cz/#services">Služby</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="https://chatbot-heroes.cz/#portfolio">Portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="https://chatbot-heroes.cz/#about">O nás</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="https://chatbot-heroes.cz/#team">Tým</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="https://chatbot-heroes.cz/#contact">Kontaktujte nás</a>
              </li>
              <li hidden class="nav-item">
                <a class="nav-link" href="#contact">EN</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container" style="height: 5rem">
        {% if messages %}
        <div class="alert alert-succes" style="text-align: center; color:red; padding-top:5rem">
          {% for message in messages %}
          <div {% if message.tags %} class="{{ message.tags }}" {% endif %} role="alert"><h4><strong>{{ message }}</strong></h4></div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </header>

  <div class="container">
    <div class="article" style="padding-top: 7rem">
      <h1>Chatbot pro eshopy - Co mi nabídne a co nesplní?</h1>
      <p style="font-size: 80%"><b>Published: 02.06.2019  |  Last update: 06.06.2019</b></p>
      <br>
      <br>
      <h4><a class="js-scroll-trigger" href="#pripradovy">1) KrasneVune.cz - případovka</a></h4>
      <h4><a href="#pripadovky">2) Popojedu.cz - případovka</a></h4>
      <h4><a href="#hlavni-vyhody">3) Hlavní výhody chatbota pro firmy a ecommerce</a></h4>
      <h4><a href="#nas-postup">4) Když my nasazujeme firemního chatbota</a></h4>
      <br>
      <hr>
      <br>
      <div class="mainBlog">
        <p style="font-size: 160%"><b>Úvodem</b></p>
        <p>Počet uživatelů aplikací pro zasílání zpráv (messaging aplikací) jako je Messenger, WhatsApp, Slack, Skype a dalších raketově stoupá. Na Messengeru od Facebooku se měsíčně pohybuje přes 1,2 miliardy aktivních uživatelů.</p>
        <p>Tímto trendem se, ale také roztrhl pytel s chatboty - tedy programy, které napodobují lidský rozhovor a snaží se uživatele správně odkázat či mu poradit.</p>
        <p>Takový dnešní online chatbot nejčastěji na messengeru určený pro firmy či eshopy svojí automatizací nejvíce ušetří čas a úsilí <strong>zákaznické podpoře</strong>, která se poté může více soustředit na personalizovanou komunikaci a unikátní potřeby zákazníků.</p>
        <br>
        <hr>
        <p><strong>Možnosti poskytované chatbotem však v poslední době přesahují rovinu automatizovaných odpovědí na dotazy zákazníků.</strong></p>
        <p>Používají se také pro jiné obchodní účely, jako jsou online marketingové kampaně, shromažďování informací o uživatelích, pomoc při organizování schůzek a snižování režijních nákladů. Není tedy divu, že velikost trhu chatbotů neustále roste a začínají se stávat běžnou součástí online komunikace firem se zákazníky.</p>
        <p>Samozřejmě, není tak jednoduché vytvořit takového interaktivního chatbota, který v každé situaci dovede uživatele vždy tam, kam potřebuje. To je důvod proč roboti stále plně nenahradili lidský faktor.</p>
        <br>
        <hr>
        <p>Chatbot za Vás <strong>nemůže plně komunikovat</strong>, jelikož je to poloautomat, díky němuž spíše rozšiřujete svou prezentaci i do míst, kde ji zatím skoro nikdo nemá. Toto je důležitá a podstatná informace.</p>
        <p>Cílem je navázat a udržet komunikaci s uživatelem co nejpřínosnějším způsobem, informovat o aktualizacích a nejnovějších akcích a posílat zprávy, které jsou ohraničené (mají jasnou otázku a jasnou odpověď).</p>
        <br>
        <hr>
        <p><strong>Důvodem jsou rozdílné otázky a styl komunikace každého uživatele nebo zákazníka. Ve zkratce se každý ptá třeba i na tu samou věc jinými způsoby.</strong></p>
        <p>Chatbot sice v jednoduché formě může spustit svoji automatizovanou odpověd na předem vytyčená klíčová slova, avšak v tom je část problému. Spustí se vždy, když se dané klíčové slovo objeví, klidně i 2x po sobě, nebo v situaci, kdy se zákazníkem komunikuje samotná zákaznická služba.</p>
        <br>
        <div class="intro-text" style="text-align: center" id="pripadovky">
          <a class="btn btn-primary btn-xl text-uppercase" href="https://m.me/379648249282186?ref=w4890793">Nechte si připravit ukázku chatbota</a>
        </div>
        <br>
        <p style="font-size: 180%"><b>Jak chatbot využívají rozdílné projekty?</b></p>
        <br>
        <p style="font-size: 140%"><b>KrásnéVůně.cz</b></p>
        <p>Například u eshopu KrásnéVůně.cz se uživatelé na messengeru většinou dotazují na značku parfému, aby si mohli vybrat podobný od španělských značek Saphire nebo Pure parfums. V tom jim pomáhá námi vytvořený chatbot, který porovná klíčové slovo značky parfému s menší databází a pošle správný parfém s odkazem přímo do eshopu.</p>
        <p>Tímto a dalšími chatbot moduly, které řeší automatizaci nejčastějších otázek jsme dosáhli toho, že uživatelé v 50-60% případů využijí chatbota a obejdou se bez zásahu lidské zákaznické podpory.</p>
        <br>
        <p style="font-size: 140%"><b>Popojedu.cz</b></p>
        <p>Chatbot lze, ale efektivně využít i pro online marketingové cíle. Například u půjčovny Popojedu jsme dosáhli 3x levnějších leadů z chatbota než z Google Ads na dlouhodobé pronájmy automobilů. Vše díky obsahově bohaté a zároveň jednoduché prezentaci aut určených k pronájmu a to přímo v messengeru pro potencionální zákazníky.</p>
        <p id="hlavni-vyhody">Díky tomu, že uživatel proklikl do messengeru mu lze posílat subscription zprávy. Například notifikační zprávu o našem měsíčním newsletteru.</p>
        <br>
        <hr>
        <p style="font-size: 180%"><b>Hlavní výhody chatbota pro firmy a ecommerce</b></p>
        <br>
        <p style="font-size: 140%"><b>Přímý prodej</b></p>
        <p>Umožňuje zákazníkům, aby dostali bohaté informace o svém vybraném zboží jednoduchým stiskem tlačítka ve svém preferovaném komunikačním kanálu. Je to skvělý způsob, jak zvýšit prodej a učinit proces nákupu on-line efektivnějším a odlišit se od konkurence.</p>
        <p style="font-size: 140%"><b>Upselling a Cross-selling</b></p>
        <p>Chatbot se používá i k posílání tzv. subscription a hromadných (Broadcast) zpráv, které informují zákazníky o nových produktech a službách, které by je mohly zajímat na základě jejich minulých nákupů.</p>
        <p style="font-size: 140%"><b>Zákaznická podpora</b></p>
        <p>Chatboti jsou připraveni odpovědět na časté otázky zoufalých zákazníků, což výrazně zlepšuje spokojenost zákazníků a míru uchování. Hlavní výhodou je to, že takový chatbot reaguje ihned ve dne v noci po celou dobu interakce.</p>
        <br >
        <hr id="nas-postup">
        <p style="font-size: 180%"><b>Když my nasazujeme firemního chatbota</b></p>
        <br>
        <p>Po zaslání potávky běžně začínáme studií historie dotazů a komunikace na messengeru u Facebookové stránky firmy či projektu. Z těchto dat lze jednoduše a efektivně navrhnout první krůčky k implementaci například úvodní nabídky / zprávy. Díky tomu začneme testova a přemýšlet o dalších možnostech a modulech pro daný business.</p>
        <p>Po každé další implementaci nového modulu je nutné vyhodnotit úspěšnost jak pro samotnou firmu, tak pro zákazníka a dle toho neustále upravovat obsah chatbota a tok zpráv. Jinými slovy testovací fáze nikdy nekončí a naše zkušenosti značně vypovídají o tom, že je lepší nespěchat a měřit!</p>
      </div>
      <br>
      <div class="intro-text" style="text-align: center">
        <a class="btn btn-primary btn-xl text-uppercase" href="https://chatbot-heroes.cz/#contact">Kontaktujte nás</a>
      </div>
    </div>
    <br>
    <br>
    <hr>



    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; Comfy-ChatBot 2018</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li hidden class="list-inline-item">
                <a href="">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/Chatbot-Heroes-379648249282186/">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li hidden class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="#">Ochrana osobních údajů</a>
              </li>
              <li hidden class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}" type="text/javascript"></script>

    <!-- Contact form JavaScript -->
    <script src="{% static 'js/jqBootstrapValidation.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/contact_me.js' %}" type="text/javascript"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/agency.min.js' %}" type="text/javascript"></script>

    </body>

    </html>
