<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% load static %}
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>2019 | Chatbot - Heroes.cz</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/agency.min.css' %}" rel="stylesheet">

  </head>


  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">ChatBot-Heroes</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://chatbot-heroes.cz/#services">Služby</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://chatbot-heroes.cz/#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://chatbot-heroes.cz/#about">O nás</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://chatbot-heroes.cz/#team">Tým</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://chatbot-heroes.cz/#contact">Kontaktujte nás</a>
            </li>
            <li hidden class="nav-item">
              <a class="nav-link" href="#contact">EN</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <h1 style="text-align: center; padding-top: 10rem"">Co jsou cookies</h1>
      <div class="container" style="width: 100%; padding-top: 2rem">
        <br>
        <p>Soubory cookies jsou malé textové soubory obsahující krátké údaje, které mohou být při návštěvě naše nebo jakéhokoliv jiného webu uloženy do různých druhů zařízení uživatele.</p>
        <br>
        <p><strong>Soubory cookies slouží zejména:</strong></p>
        <p>1) slouží k efektivní navigaci na webu, k personalizaci, ukládání předvoleb a obecně k vylepšení uživatelského dojmu z webu.</p>
        <p>2) umožňují rozlišit, zda konkrétní uživatel již v minulosti navštívil internetové stránky nebo zda je novým návštěvníkem.</p>
        <p>3) napomáhají zobrazovat na webu reklamu přizpůsobenou zájmům konkrétního uživatele.</p>
        <br>
        <p><strong>ChatBot-Heroes.cz používá pouze první dvě kategorie souborů cookies:</strong></p>
        <p>1) soubory cookies vyžadované k činnosti Internetových stránek a zajišťují funkce, nezbytně nutné k využívání Internetových stránek. K použití těchto nezbytně nutných souborů cookies není třeba souhlas uživatele;</p>
        <p>2) soubory cookies, které nejsou zcela nezbytné k fungování Internetových stránek, nicméně jejich používání zlepšuje uživatelský dojem, usnadňuje prohlížení Internetových stránek a současně zvyšuje výkon Internetové stránky;</p>
        <p>3) analytické cookies, které shromažďují informace pro pochopení způsobu používání Internetových stránek jednotlivými uživateli. - <strong>nepoužíváme</strong></p>
        <br>
        <p>Ukládání souborů cookies dle písm. 2) a 3) předchozího odstavce je možné zakázat v nastavení prohlížeče (a případné odhlášení z používání cookies třetích stran je možné zakázat také pomocí tlačítka na konci této stránky). Pokud tak však uživatel učiní, mohou být některé funkce Internetových stránek nedostupné nebo nemusejí pracovat tak, jak by se očekávalo.</p>
        <br>
        <p>Většina webových prohlížečů ve výchozím nastavení soubory cookies přijímá. Uživatel však může nastavení svého prohlížeče změnit a cookies odmítnout a odebrat. Konkrétní postup se v jednotlivých prohlížečích liší, další informace tedy naleznete v nápovědě svého prohlížeče. Pro nejrozšířenější prohlížeče to jsou:</p>
        <br>
        <p>Chrome: <a href="https://support.google.com/">support.google.com</a></p>
        <p>Opera: <a href="https://help.opera.com/en/latest/">help.opera.com</a></p>
        <p>Firefox: <a href="https://support.mozilla.org/en-US/">support.mozilla.org</a></p>
        <p>MS Internet Explorer/Edge: <a href="https://www.microsoft.com/en-us/windows">windows.microsoft.com</a></p>
        <p>Safari: <a href="https://support.apple.com/">support.apple.com</a></p>
        <br>
        <p>Odmítnutí nebo odebrání souborů cookies může vést k nesprávné funkci Internetových stránek nebo některých jejích služeb a může mít nepříznivý vliv na váš uživatelský dojem. Oblasti Internetových stránek, které by mohly využívat obsah a s ním související soubory cookies třetích stran, nebudou k dispozici.</p>
        <br>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}" type="text/javascript"></script>

    <!-- Contact form JavaScript -->
    <script src="{% static 'js/jqBootstrapValidation.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/contact_me.js' %}" type="text/javascript"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/agency.min.js' %}" type="text/javascript"></script>

  </body>

</html>
