<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% load static %}
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K76JR8H');</script>
<!-- End Google Tag Manager -->

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Zajišťujeme vytvoření a servis jednoduchých FREE a PRO chatbotů na Facebooku, které Vám otevřou cestu do messenger marketingu.">
<meta name="keywords" content="messenger marketing, chatbot marketing, chatbot na facebooku, chatbot vzor">
<meta name="author" content="www.Chatbot-heroes.cz">
<meta name="google-site-verification" content="5C6aie7mFVAOf--1Mb5F3Lsmf9yHaav-SvE16Djz_To" />
<meta name="seznam-wmt" content="X2sLkJF4abiatAO7xEiSEkNUSmxxKP5d" />
<meta name="seznam-wmt" content="DGRh0WnHVhnCaC5Ht3jfwSLRqW2Hv2y6" />
<title>2019 | Chatbot & messenger marketing agentura</title>

<!-- Bootstrap core CSS -->
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link rel="icon" href="{% static 'roboto-logo.png' %}" sizes="16x16" type="image/png">

<!-- Custom fonts for this template -->
<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

<!-- Custom styles for this template -->
<link href="{% static 'css/agency.min.css' %}" rel="stylesheet">

<!-- ManyChat -->
<script src="//widget.manychat.com/2190917664302242.js" async="async"></script>
<link rel="canonical" href="https://www.chatbot-heroes.cz/" />
</head>


<body id="page-top">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K76JR8H"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">ChatBot-Heroes</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Služby</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">O nás</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">Tým</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Kontaktujte nás</a>
            </li>
            <li hidden class="nav-item">
              <a class="nav-link" href="#contact">EN</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        {% if messages %}
        <div class="alert alert-succes" style="text-align: center; color:red; padding-top:5rem">
          {% for message in messages %}
          <div {% if message.tags %} class="{{ message.tags }}" {% endif %} role="alert"><h4><strong>{{ message }}</strong></h4></div>
          {% endfor %}
        </div>
        {% endif %}
        <div class="intro-text">
          <h1 class="intro-heading text-uppercase">Messenger marketing</h1>
          <div class="intro-lead-in">Objevte pomocí chatbota nový online marketingový kanál pro svůj eshop či projekt</div>
          <br>
          <a class="btn btn-primary btn-xl text-uppercase" href="#contact">Chci ukázku</a>
        </div>
      </div>
    </header>

    <!-- Clients -->
    <section class="py-2">
      <div class="container" style="text-align: center">
        <p>
          <img class="img-fluid d-block mx-auto" src="{% static 'img/agency-partner.png' %}" alt="manychat agency partner icon">
        </p>
        <h3 class="section-subheading text-muted">
          <p>Jsme kreativní markeťáci. Facebook chatbot a messenger marketing je naší specializací!</p>
          <p>Chatbot není jen o nastavení, ale o neustálé kontrole a měření zda-li je pro uživatele srozumitelný.</p>
        </h3>
      </div>
    </section>

    <!-- Services -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Pro koho je určen chatbot?</h2>
            <h3 class="section-subheading text-muted">"Chatbot bude součástí 80% firem do roku 2020"<a href="https://www.businessinsider.com/80-of-businesses-want-chatbots-by-2020-2016-12"><p style="font-size: 80%">zdroj</p></a></h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-coffee fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Restaurace & kavárny</h4>
            <p class="text-muted">S klienty umí mluvit více jazyky, zprostředkovává rezervace stolů nebo automatizuje opakující se dotazy.</p>
            <br>
            <div class="button">
              <a class="btn btn-success btn-lg" style="width:12rem; height:3rem;" href="{% url 'restfreevzor' %}">Detail vzoru</a>
            </div>
            <br>
          </div>

          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-car fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Auto-moto firmy</h4>
            <p class="text-muted">Naplánuje testovací jízdu, posílá upozornění na vozy v akci nebo zprostředkovává všechny informace týkající se firmy.</p>
            <br>
            <div class="button">
              <a class="btn btn-info btn-lg" style="width:12rem; height:3rem;">Již brzy</a>
            </div>
            <br>
          </div>

          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">E-commerce & E-shopy</h4>
            <p class="text-muted">Najde zboží dle klientova vyhledávání, rozešle slevové kupóny nebo zvyšuje počet subscriberů.</p>
            <br>
            <div class="button">
              <a class="btn btn-success btn-lg" style="width:12rem; height:3rem;" href="{% url 'eshopyfreevzor' %}">Detail vzoru</a>
            </div>
            <br>
          </div>

        </div>
        <div class="row text-center" style="padding-top: 4rem">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-handshake fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Služby & Řemeslníci</h4>
            <p class="text-muted">Naplánuje termíny schůzek s klienty nebo zprostředkuje veškeré dodatečné informace včetně ceníku, přesné lokace atd.</p>
            <br>
            <div class="button">
              <a class="btn btn-info btn-lg" style="width:12rem; height:3rem;">již brzy</a>
            </div>
            <br>
          </div>

          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-search-location fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Realitky & Realitní makléři</h4>
            <p class="text-muted">Odpovídá na vytyčené/opakující se dotazy klientů, předá kontakt na makléře nebo přímo naplánuje schůzku.</p>
            <br>
            <div class="button">
              <a class="btn btn-success btn-lg" style="width:12rem; height:3rem;" href="{% url 'realitkyfreevzor' %}">Detail vzoru</a>
            </div>
            <br>
          </div>

          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-plane-departure fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Cestovky & Ubytování</h4>
            <p class="text-muted">Buduje publikum a následně zasílá cestovní akce a slevy nebo odpovídá na opakující se dotazy zákazníků.</p>
            <br>
            <div class="button">
              <a class="btn btn-info btn-lg" style="width:12rem; height:3rem;">Již brzy</a>
            </div>
            <br>
          </div>
        </div>
      </div>
    </section>
    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h3 class="section-heading text-uppercase">Portfolio našich klientů</h3>
            <h4 class="section-subheading text-muted">Kam jsme například nasazovali ChatBota?</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'img/portfolio/PortfolioModryAndel.png' %}" alt="ModryAndel portfolio">
            </a>
            <div class="portfolio-caption">
              <h4>Chatbot pro Modrý Anděl</h4>
              <p class="text-muted"></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'img/portfolio/PortfolioPopojedu.png' %}" alt="Popojedu portfolio">
            </a>
            <div class="portfolio-caption">
              <h4>Chatbot pro Popojedu.cz</h4>
              <p class="text-muted"></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'img/portfolio/PortfolioKrasneVune.png' %}" alt="KrasneVune portfolio">
            </a>
            <div class="portfolio-caption">
              <h4>Chatbot pro KrásneVůně.cz</h4>
              <p class="text-muted"></p>
            </div>
          </div>
          <div hidden class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'img/portfolio/04-thumbnail.jpg' %}" alt="example thumbnail">
            </a>
            <div class="portfolio-caption">
              <p>Lines</p>
              <p class="text-muted">Branding</p>
            </div>
          </div>
          <div hidden class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'img/portfolio/05-thumbnail.jpg' %}" alt="example thumbnail">
            </a>
            <div class="portfolio-caption">
              <p>Southwest</p>
              <p class="text-muted">Website Design</p>
            </div>
          </div>
          <div hidden class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'img/portfolio/06-thumbnail.jpg' %}" alt="example thumbnail">
            </a>
            <div class="portfolio-caption">
              <p>Window</p>
              <p class="text-muted">Photography</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Blog -->
    <section id="bloging">
      <div class="container">
        <h3 class="section-heading text-uppercase" style="text-align: center;">Blogujeme a píšeme články</h3>
        <div class="card-deck">
          <div class="card">
            <a href="{% url 'blog3' %}">
              <img src="{% static 'blog4pic1.jpg' %}" class="card-img-top" alt="business">
            </a>
            <div class="card-body">
              <h5 class="card-title"><a href="{% url 'blog3' %}">Chatbot pro eshopy - Co mi nabídne a co nesplní?</a></h5>
              <p class="card-text">Počet uživatelů aplikací pro zasílání zpráv (messaging aplikací) jako je Messenger, WhatsApp, Slack, Skype a dalších raketově stoupá...</p>
            </div>
            <div class="card-footer" style="text-align: center">
              <a href="{% url 'blog3' %}" class="btn btn-lg btn-primary">Přečíst více</a>
            </div>
          </div>
          <div class="card">
            <a href="{% url 'blog2' %}">
              <img src="{% static 'blog2pichome.jpg' %}" class="card-img-top" alt="website">
            </a>
            <div class="card-body">
              <h5 class="card-title"><a href="{% url 'blog2' %}">Přidejte si facebook messenger chatbot na svoje webové stránky</a></h5>
              <p class="card-text">Jak integrovat messenger chatbota přímo na Vaše webové stránky. Přečtěte si více.</p>
            </div>
            <div class="card-footer" style="text-align: center">
              <a href="{% url 'blog2' %}" class="btn btn-lg btn-primary">Přečíst více</a>
            </div>
          </div>
          <div class="card">
            <a href="{% url 'blog1' %}">
              <img src="{% static 'blog1pichome.jpg' %}" class="card-img-top" alt="suprised boy">
            </a>
            <div class="card-body">
              <h5 class="card-title"><a href="{% url 'blog1' %}">5 jednoduchých kroků k vytvoření chatbota pro FB messenger</a></h5>
              <p class="card-text">Jak vytvořit reprezentativního chatbota opravdu zabere jen pár desítek minut. Přečtěte si jak na to.</p>
            </div>
            <div class="card-footer" style="text-align: center">
              <a href="{% url 'blog1' %}" class="btn btn-lg btn-primary">Přečíst více</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- About -->
    <section class="bg-light" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h3 class="section-heading text-uppercase">O nás</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="{% static 'img/about/1.jpg' %}" alt="first timeline picture">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2016</h4>
                    <h4 class="subheading">První krůčky v digitálním marketingu</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Máme zkušenosti s PPC na googlu/seznamu. Dynamickými data-driven reklamami na Facebooku a Instagramu. Dále emailingem a SEO. Chatboti nás ale pohltili.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="{% static 'img/about/2.jpg' %}" alt="second timeline picture">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2018</h4>
                    <h4 class="subheading">První hrátky s Chatbotem</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Hledal jsem nové médium, které mě zaujme. Chatboti mají potenciál pro kreativitu a zároveň přináší skvělé výsledky</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="{% static 'img/about/3.jpg' %}" alt="third timeline picture">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2019</h4>
                    <h4 class="subheading">Chatbot-heroes.cz</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Stránka založena, první chatboti úspěšně prošli beta testováním!</p>
                  </div>
                </div>
              </li>
              <li hidden class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="{% static 'img/about/4.jpg' %}" alt="fourth timeline picture">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>July 2014</h4>
                    <h4 class="subheading">Phase Two Expansion</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>Co
                    <br>bude
                    <br>dál?</h4>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <!-- Team -->
      <section id="team">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h3 class="section-heading text-uppercase">Náš tým</h3>
              <h4 class="section-subheading text-muted"></h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="team-member">
                <img class="mx-auto rounded-circle" src="{% static 'img/team/4.jpg' %}" alt="Chatbot architect">
                <h4>David Langr</h4>
                <p class="text-muted">Chatbot Architect</p>
                <ul class="list-inline social-buttons">
                  <li hidden class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li hidden class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li hidden class="list-inline-item">
                    <a href="https://www.linkedin.com/in/david-langr/">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="team-member">
                <img class="mx-auto rounded-circle" src="{% static 'img/team/5.jpg' %}" alt="Chatbot editor">
                <h4>Denisa Schreiberová</h4>
                <p class="text-muted">ChatBot Editor</p>
                <ul class="list-inline social-buttons">
                  <li hidden class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li hidden class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li hidden class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="team-member">
                <img class="mx-auto rounded-circle" src="{% static 'img/team/6.jpg' %}" alt="Chatbot editor junior">
                <h4>Simona Matúšová</h4>
                <p class="text-muted">ChatBot Editor Junior</p>
                <ul class="list-inline social-buttons">
                  <li hidden class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li hidden class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li hidden class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div hidden class="row">
            <div class="col-lg-8 mx-auto text-center">
              <p class="large text-muted"></p>
            </div>
          </div>
        </div>
      </section>

      <!-- Clients -->
      <section hidden class="py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <a href="#">
                <img class="img-fluid d-block mx-auto" src="{% static 'img/logos/envato.jpg' %}" alt="envato logo">
              </a>
            </div>
            <div class="col-md-3 col-sm-6">
              <a href="#">
                <img class="img-fluid d-block mx-auto" src="{% static 'img/logos/designmodo.jpg' %}" alt="designmodo logo">
              </a>
            </div>
            <div class="col-md-3 col-sm-6">
              <a href="#">
                <img class="img-fluid d-block mx-auto" src="{% static 'img/logos/themeforest.jpg' %}" alt="themeforest logo">
              </a>
            </div>
            <div class="col-md-3 col-sm-6">
              <a href="#">
                <img class="img-fluid d-block mx-auto" src="{% static 'img/logos/creative-market.jpg' %}" alt="creative-market logo">
              </a>
            </div>
          </div>
        </div>
      </section>

      <!-- Contact -->
      <section id="contact">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Kontaktujte nás a vytvoříme Vám vzor chatbota pro ukázku</h2>
              <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="https://m.me/379648249282186?ref=w4890787">Kontakt přes messenger</a>
              <br>
              <br>
              <br>
              <p style="font-size: 160%">Nebo formulářem</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <form id="lol" name="sentMessage" novalidate="novalidate" action="{% url 'contact' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input class="form-control" id="names" name="names" type="text" placeholder="Vaše jméno" required>
                    </div>
                    <div class="form-group">
                      <input class="form-control" id="emails" name="emails" type="email" placeholder="Váš email" required>
                    </div>
                    <div class="form-group">
                      <input class="form-control" id="phones" name="phones" type="tel" placeholder="Váš telefon (nepovinné)">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <textarea class="form-control" id="descriptions" name="descriptions" placeholder="Jaké máte představy?" required></textarea>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-lg-12 text-center">
                    <div id="success"></div>
                    <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Odeslat</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>

      <!-- Footer -->
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <span class="copyright">Copyright &copy; Comfy-ChatBot 2018</span>
              <p>Spolupráce:
                <a href="https://inspirace-ze-sveta.cz/">Inspirace-ze-sveta.cz</a> |
                <a href="https://comfy-penguin.com/">Comfy-penguin.com</a>
              <p>
            </div>
            <div class="col-md-4">
              <ul class="list-inline social-buttons">
                <li hidden class="list-inline-item">
                  <a href="">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/Chatbot-Heroes-379648249282186/">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li hidden class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-inline quicklinks">
                <li class="list-inline-item">
                  <a href="#">Ochrana osobních údajů</a>
                </li>
                <li hidden class="list-inline-item">
                  <a href="#">Terms of Use</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

      <!-- Portfolio Modals -->

      <!-- Modal 1 -->
      <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                <div class="rl"></div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-8 mx-auto">
                  <div class="modal-body">
                    <!-- Project Details Go Here -->
                    <p style="font-size: 160%">Modrý Anděl</p>
                    <p class="item-intro text-muted">Komplexní nabídka osobní přepravní dopravy pro Prahu.</p>

                    <p>Chat bot pomáhá Modrému andělovi u rezervací business třídy nebo odvozu vozu přes facebook messenger a také v případě kdy si uchazeč o práci vyžádá dodatečné informace.</p>
                    <ul class="list-inline">
                      <li>Nasazení: Prosinec 2018</li>
                      <li><a href="https://www.messenger.com/t/modry.andel">Spustit chatbota</a></li>
                    </ul>
                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                      <i class="fas fa-times"></i>
                      Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal 2 -->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                  <div class="rl"></div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-lg-8 mx-auto">
                    <div class="modal-body">
                      <!-- Project Details Go Here -->
                      <p style="font-size: 160%">Popojedu.cz</p>
                      <p class="item-intro text-muted">Autopůjčovna nové generace pro Prahu a okolí</p>

                      <p>Chat bot pomáhá zákazníkům dostat detailní informace o jednotlivých vozech a je schopný přijmout rezervaci v plném rozsahu a poslat ji na email majiteli</p>
                      <ul class="list-inline">
                        <li>Nasazení: Leden 2019</li>
                        <li><a href="https://www.messenger.com/t/popojedu">Spustit chatbota</a></li>
                      </ul>
                      <button class="btn btn-primary" data-dismiss="modal" type="button">
                        <i class="fas fa-times"></i>
                        Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal 3 -->
          <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                  <div class="lr">
                    <div class="rl"></div>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-lg-8 mx-auto">
                      <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <p style="font-size: 160%">KrasneVune.cz</p>
                        <p class="item-intro text-muted">Moderní parfumerie s kvalitními španělskými značkami Saphir a Pure Parfume</p>

                        <p>Chatbot pomáhá automatizovat opakující se dotazy od zákazníků na parfémy.</p>
                        <ul class="list-inline">
                          <li>Nasazení: Leden 2019</li>
                          <li><a href="https://www.facebook.com/krasnevune.cz/">Spustit chatbota</a></li>
                        </ul>
                        <button class="btn btn-primary" data-dismiss="modal" type="button">
                          <i class="fas fa-times"></i>
                          Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal 4 -->
            <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                      <div class="rl"></div>
                    </div>
                  </div>
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                          <!-- Project Details Go Here -->
                          <p style="font-size: 160%">Project Name</p>
                          <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                          <img class="img-fluid d-block mx-auto" src="img/portfolio/04-full.jpg" alt="example portfolio thumbnail">
                          <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                          <ul class="list-inline">
                            <li>Date: January 2017</li>
                            <li>Client: Lines</li>
                            <li>Category: Branding</li>
                          </ul>
                          <button class="btn btn-primary" data-dismiss="modal" type="button">
                            <i class="fas fa-times"></i>
                            Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal 5 -->
              <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                      <div class="lr">
                        <div class="rl"></div>
                      </div>
                    </div>
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-8 mx-auto">
                          <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <p style="font-size: 160%">Project Name</p>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="img/portfolio/05-full.jpg" alt="example portfolio thumbnail">
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                              <li>Date: January 2017</li>
                              <li>Client: Southwest</li>
                              <li>Category: Website Design</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                              <i class="fas fa-times"></i>
                              Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Modal 6 -->
                <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                          <div class="rl"></div>
                        </div>
                      </div>
                      <div class="container">
                        <div class="row">
                          <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                              <!-- Project Details Go Here -->
                              <p style="font-size: 160%">Project Name</p>
                              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                              <img class="img-fluid d-block mx-auto" src="img/portfolio/06-full.jpg" alt="example portfolio thumbnail">
                              <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                              <ul class="list-inline">
                                <li>Date: January 2017</li>
                                <li>Client: Window</li>
                                <li>Category: Photography</li>
                              </ul>
                              <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}" type="text/javascript"></script>

<!-- Contact form JavaScript -->
<script src="{% static 'js/jqBootstrapValidation.js' %}" type="text/javascript"></script>
<script src="{% static 'js/contact_me.js' %}" type="text/javascript"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'js/agency.min.js' %}" type="text/javascript"></script>

</body>

</html>
